.Todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 350px;
    cursor: pointer;
    padding-block: 10px;
    padding-inline: 5px;
    margin-block: 5px;
    border-radius: 5px;
    background-color: #f9c6db;
}

.Todo p{
    font-size: 20px;
}

.completed{
    color: brown;
}