.Todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 95%;
    cursor: pointer;
    padding-block: 10px;
    padding-inline: 5px;
    margin-block: 5px;
    border-radius: 5px;
    background-color: #f9c6db;
}

.completed{
    text-decoration:line-through;
    background-color: #916376;

}

.Todo p{
    font-size: 17px;
}